. {
    margin:0;
    padding:0;
    font-family:"roboto" ;
    box-sizing:border-box;
}
.container {
    width:100%;
    height:100vh;
    background-image: linear-gradient(rgba(0, 32, 50, 0.8),rgba(0, 50, 34, 0.8)),url(background.png);
    background-position: center;
    background-size:cover ;
    position:relative;
}
.boxin {
    width:90%;
    max-width:450px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) ;
    background: #fff;
    padding:50px 60px 70px;
    text-align:center;
}
.boxin h1 {
    font-size:30px;
    marginn-bottom:60px;
    color:#3c00a0;
    position: relative;
    text-decoration:underline ;
}
.input-field {
    background: #eaeaea;
    margin:15px;
    border-radius: 3px;
    display:flex;
    align-items: center;
    padding:30px 30px;
}
.input-field {
    width:100%;
    background:transparent;
    border:0;
    outline:0;
    padding:10px 15px;
    margin-left:15px;
    color:#999;
}
.form p {
    text-align:left;
    font-size:13px;
}
.form p a{
    text-decoration: none;
    color:#3c00a0;
}
.btn-field button {
    flex-basis:48%;
    background: #3c00a0;
    color: #fff;
    height:4opx;
    border-radius:10px ;
    border:0;
    outline:0;
    cursor:pointer;
    transition: background 1s;
    max-height: 65px;
    transition: max-height 0.58s;
    overflow:hidden;
}
.input-group {
    height:28opx;
}
.btn-field button.disable {
    background: #eaeaea;
    color:#sss;
}
